<h1><%= "Check out our past and present events" %></h1>
<% events.each do |event| %>
<h6> Theme: <%= event.theme %></h6>
<h6> Date: <%= event.date %></h6>
<h6> Time: <%= event.time %></h6>
<h6> Location: <%= event.location %></h6>