<div class="container-show"
<h1><%= "Check out our past and present events" %></h1>

<div class="well">
  <h6> Theme: <%= @events.theme %></h6>
  <h6> Date: <%= @events.date %></h6>
  <h6> Time: <%= @events.time %></h6>
  <h6> Location: <%= @events.location %></h6>
</div>
</div>
